# WEB SCRAPING – ASSIGNMENT 4

# Solution No: 1

In [1]:
import pandas as pd
import re
import selenium
from selenium import webdriver

from bs4 import BeautifulSoup
import requests

import time

from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

import warnings
warnings.filterwarnings('ignore')

In [2]:
from selenium.webdriver.common.by import By

In [3]:
driver = webdriver.Chrome('Chromedriver.exe')

driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [4]:
Rank = []
Name = []
Artist = []
Views = []
Date = []

In [5]:
try:
    all_rank = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in all_rank:
        rank = i.text
        Rank.append(rank)
except NoSuchElementException:
    Rank.append('-')
    
try:
    all_name = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
    for i in all_name:
        name = i.text
        Name.append(name)
except NoSuchElementsException:
    Artist.append('-')
        
try:
    arti = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
    for i in arti:
        artist = i.text
        Artist.append(artist)
except NoSuchElementsException:
    Artist.append('-')
    
try:
    view = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')
    for i in view:
        views = i.text
        Views.append(views)
except NoSuchElementException:
    Views.append('-')
    

try:
    dat = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')
    for i in dat:
        date = i.text
        Date.append(date)
except NoSuchElementException:
    Date.append('-')

In [6]:
df = pd.DataFrame()
df['Rank'] = Rank
df['Name'] = Name
df['Artist'] = Artist
df['Views(In Billions)'] = Views
df['Date'] = Date

In [7]:
df.head()

,Rank,Name,Artist,Views(In Billions),Date
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,12.85,"June 17, 2016"
1,2.,"""Despacito""[7]",Luis Fonsi,8.16,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,6.70,"October 8, 2016"
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,6.20,"May 2, 2018"
4,5.,"""Shape of You""[16]",Ed Sheeran,6.00,"January 30, 2017"

In [8]:
driver.close()

# Solution No: 2

In [9]:
driver =  webdriver.Chrome('Chromedrive.exe')
driver.get('http://www.bcci.tv/')

In [12]:
view_all = driver.find_element(By.XPATH,'//a[@class="moreMatchesLink"]')
view_all.click()

In [14]:
More = driver.find_element(By.XPATH,'//div[@class="col-lg-12 col-md-12 col-sm-12"]')
More.click()

In [15]:
Match_title = []
Series = []
Place = []
Date = []
Time = []

In [16]:
try:
    title = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
    for i in title:
        Title = i.text
        Match_title.append(Title)
except NoSuchElementException:
    Match_title.append('-')
    

try:
    series = driver.find_elements(By.XPATH,'//div[@class="match-card-middle d-flex"]')
    for i in series:
        ser = i.text
        Series.append(ser)
except NoSuchElementException:
    Series.append('-')
    
    
try:
    place = driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
    for i in place:
        pla = i.text
        Place.append(pla)
except NoSuchElementException:
    Place.append('-')
    
    
try:
    date = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
    for i in date:
        datt = i.text
        Date.append(datt)
except NoSuchElementException:
    Date.append('-')
    
    
try:
    time = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
    for i in time:
        tim = i.text
        Time.append(tim)
except NoSuchElementException:
    Time.append('-')

In [17]:
df = pd.DataFrame()
df['Match_title'] = Match_title
df['Series'] = Series
df['Place'] = Place
df['Date'] = Date
df['Time'] = Time

In [18]:
df

,Match_title,Series,Place,Date,Time
0,WOMENS EMERGING TEAMS ASIA CUP 2023,India A (Womens)\nvs\nSri lanka A (Womens),Hong Kong,20 JUN 2023,6:30 AM IST
1,INDIA TOUR OF WEST INDIES 2023,West Indies\nvs\nIndia,Dominica,12 JUL 2023,7:30 PM IST
2,INDIA TOUR OF WEST INDIES 2023,West Indies\nvs\nIndia,Trinidad,20 JUL 2023,7:30 PM IST
3,INDIA TOUR OF WEST INDIES 2023,West Indies\nvs\nIndia,Barbados,27 JUL 2023,7:00 PM IST
4,INDIA TOUR OF WEST INDIES 2023,West Indies\nvs\nIndia,Barbados,29 JUL 2023,7:00 PM IST
5,INDIA TOUR OF WEST INDIES 2023,West Indies\nvs\nIndia,Trinidad,1 AUG 2023,7:00 PM IST
6,INDIA TOUR OF WEST INDIES 2023,West Indies\nvs\nIndia,Trinidad,3 AUG 2023,8:00 PM IST
7,INDIA TOUR OF WEST INDIES 2023,West Indies\nvs\nIndia,Guyana,6 AUG 2023,8:00 PM IST
8,INDIA TOUR OF WEST INDIES 2023,West Indies\nvs\nIndia,Guyana,8 AUG 2023,8:00 PM IST
9,INDIA TOUR OF WEST INDIES 2023,West Indies\nvs\nIndia,Florida,12 AUG 2023,8:00 PM IST
10,INDIA TOUR OF WEST INDIES 2023,West Indies\nvs\nIndia,Florida,13 AUG 2023,8:00 PM IST

In [19]:
driver.close()

# Solution No:3

In [20]:
driver = webdriver.Chrome('Chromedriver.exe')

driver.get('http://statisticstimes.com/')

In [21]:
dropdown = driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/button/i')
dropdown.click()

In [22]:
India = driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/div/a[3]')
India.click()

In [24]:
GDP = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
GDP.click()

In [25]:
Rank = []
State = [] 
GSDP_18_19 = []
GSDP_19_20 = []
Share_18_19 = []
GDP_Billion = []

In [26]:
try:
    Sate_rank = driver.find_elements(By.XPATH,'//td[@class="data1"]')
    for i in Sate_rank:
        rank = i.text
        Rank.append(rank)
except NoSuchElementException:
    Rank.append('-')
    
try:
    state = driver.find_elements(By.XPATH,'//td[@class="name"]')
    for i in state:
        sta = i.text
        State.append(sta)
except NoSuchElementException:
    State.append('-')
    
try:
    gdp_18_19 = driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
    for i in gdp_18_19:
        gdp = i.text
        GSDP_18_19.append(gdp)
except NoSuchElementException:
    GSDP_18_19.append('-')
    
try:
    gdp_19_20 = driver.find_elements(By.XPATH,'//td[@class="data"]')
    for i in gdp_19_20:
        gsdp = i.text
        GSDP_19_20.append(gsdp)
except NoSuchElementException:
    GSDP_19_20.append('-')
    
try:
    share_18_19 = driver.find_elements(By.XPATH,'//td[5][@class="data"]')
    for i in share_18_19:
        share = i.text
        Share_18_19.append(share)
except NoSuchElementException:
    Share_18_19.append('-')
    
try:
    gdp_billion = driver.find_elements(By.XPATH,'//td[6][@class="data"]')
    for i in gdp_billion:
        gdp_bill = i.text
        GDP_Billion.append(gdp_bill)
except NoSuchElementException:
    GDP_Billion.append('-')

In [29]:
print(len('Rank'),len('State'),len('GSDP_18_19'),len('GSDP_19_20'),len('Share_18_19'),len('GDP_Billion'))

4 5 10 10 11 11

In [30]:
df = pd.DataFrame()
df['Rank'] = Rank[0:32]
df['State'] = State[0:32]
df['GSDP_18_19'] = GSDP_18_19[0:32]
df['GSDP_19_20'] = GSDP_19_20[0:32]
df['Share_18_19'] = Share_18_19[0:32]
df['GDP_Billion'] = GDP_Billion[0:32]

In [31]:
df

   Rank              State GSDP_18_19 GSDP_19_20 Share_18_19 GDP_Billion
0     1        Maharashtra  2,632,792          -      13.94%     399.921
1     2         Tamil Nadu  1,630,208     13.94%       8.63%     247.629
2     3      Uttar Pradesh  1,584,764    399.921       8.39%     240.726
3     4            Gujarat  1,502,899          -       7.96%     228.290
4     5          Karnataka  1,493,127  2,039,074       7.91%     226.806
5     6        West Bengal  1,089,898  1,845,853       5.77%     165.556
6     7          Rajasthan    942,586      8.63%       4.99%     143.179
7     8     Andhra Pradesh    862,957    247.629       4.57%     131.083
8     9          Telangana    861,031  1,312,929       4.56%     130.791
9    10     Madhya Pradesh    809,592  1,215,307       4.29%     122.977
10   11             Kerala    781,653  1,687,818       4.14%     118.733
11   12              Delhi    774,870      8.39%       4.10%     117.703
12   13            Haryana    734,163    240.726       3.89%     111.519
13   14              Bihar    530,363  1,166,817       2.81%      80.562
14   15             Punjab    526,376  1,123,982       2.79%      79.957
15   16             Odisha    487,805          -       2.58%      74.098
16   17              Assam    315,881      7.96%       1.67%      47.982
17   18       Chhattisgarh    304,063    228.290       1.61%      46.187
18   19          Jharkhand    297,204          -       1.57%      45.145
19   20        Uttarakhand    245,895  1,186,379       1.30%      37.351
20   21    Jammu & Kashmir    155,956  1,631,977       0.83%      23.690
21   22   Himachal Pradesh    153,845      7.91%       0.81%      23.369
22   23                Goa     73,170    226.806       0.39%      11.115
23   24            Tripura     49,845  1,156,039       0.26%       7.571
24   25         Chandigarh     42,114  1,091,077       0.22%       6.397
25   26         Puducherry     34,433  1,253,832       0.18%       5.230
26   27          Meghalaya     33,481      5.77%       0.18%       5.086
27   28             Sikkim     28,723    165.556       0.15%       4.363
28   29            Manipur     27,870    793,223       0.15%       4.233
29   30           Nagaland     27,283    739,525       0.14%       4.144
30   31  Arunachal Pradesh     24,603  1,020,989       0.13%       3.737
31   32            Mizoram     22,287      4.99%       0.12%       3.385

In [32]:
driver.close()

# Solution No: 4

In [33]:
driver = webdriver.Chrome('Chromedriver.exe')

In [34]:
driver.get('https://github.com/')

In [35]:
Open_Source =driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
Open_Source.click()

In [36]:
Tranding = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
Tranding.click()

In [37]:
Repository_title = []
Repository_description = []
Contributors_count = []
Language_used = []

In [38]:
repository = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
for i in repository:
    reposit = i.text
    Repository_title.append(reposit)
    

Repo_Discrip = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in Repo_Discrip:
    repo_disc = i.text
    Repository_description.append(repo_disc)
    
    
contributors_count = driver.find_elements(By.XPATH,'//a[@class="Link--muted d-inline-block mr-3"]')
for i in contributors_count:
    Contributor = i.text
    Contributors_count.append(Contributor)
    
    
Language = driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"] [1]/span')
for i in Language:
    Lang = i.text
    Language_used.append(Lang)

In [39]:
print(len('Repository_title'),len('Repository_description'),len('Contributors_count'),len('Language_used'))

16 22 18 13

In [40]:
df = pd.DataFrame()
df['Repository_title'] = Repository_title[0:20]
df['Repository_description'] = Repository_description[0:20]
df['Contributors_count'] = Contributors_count[0:20]
df['Language_used'] = Language_used[0:20]

In [41]:
df

,Repository_title,Repository_description,Contributors_count,Language_used
0,AntonOsika / gpt-engineer,"Specify what you want it to build, the AI asks...","15,365",Python
1,vercel-labs / ai,"Build AI-powered applications with React, Svel...","2,635",Built by
2,AI4Finance-Foundation / FinGPT,Data-Centric FinGPT. Open-source for open fina...,"1,937",961 stars today
3,alibaba / Chat2DB,🔥 🔥 🔥 An intelligent and versatile general-pur...,149,TypeScript
4,tiann / KernelSU,A Kernel based root solution for Android,"4,427",Built by
5,s0md3v / roop,one-click deepfake (face swap),845,245 stars today
6,OptimalScale / LMFlow,An Extensible Toolkit for Finetuning and Infer...,"5,795",Jupyter Notebook
7,sunner / ChatALL,"Concurrently chat with ChatGPT, Bing Chat, Bar...","1,174",Built by
8,hiyouga / LLaMA-Efficient-Tuning,Fine-tuning LLaMA with PEFT (PT+SFT+RLHF with ...,"3,136",479 stars today
9,andrewrk / poop,Performance Optimizer Observation Platform,520,Java
10,tauri-apps / tauri,"Build smaller, faster, and more secure desktop...","12,006",Built by
11,NaiboWang / EasySpider,A visual no-code/code-free web crawler/spider易...,"1,769",971 stars today
12,adams549659584 / go-proxy-bingai,用 Vue3 和 Go 搭建的微软 New Bing 演示站点，拥有一致的 UI 体验，支持...,"5,911",Kotlin
13,joschan21 / breadit,Modern Fullstack Reddit Clone in Next.js 13 & ...,649,Built by
14,PostHog / HouseWatch,Open source tool for monitoring and managing C...,"6,952",25 stars today
15,krzysztofzablocki / Swift-Macros,A curated list of awesome Swift Macros,884,Python
16,terhechte / Ebou,A cross platform Mastodon Client written in Rust,700,Built by
17,open-mmlab / mmagic,"OpenMMLab Multimodal Advanced, Generative, and...",130,165 stars today
18,facebookresearch / localrf,An algorithm for reconstructing the radiance f...,502,Python
19,CodeEditApp / CodeEdit,CodeEdit App for macOS – Elevate your code edi...,44,Built by

In [42]:
driver.close()

# Solution No: 5

In [43]:
driver = webdriver.Chrome('Chromedriver.exe')

In [44]:
driver.get('https://www.billboard.com/')

In [45]:
Chart_click = driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div/div[2]/div/div/div[1]/div[1]/button')
Chart_click.click()

In [46]:
Hot = driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a')
Hot.click()

In [77]:
Song_name = []
Artist_name = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [78]:
song = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"][1]//h3')
for i in song:
    songs = i.text
    Song_name.append(songs)
    
Artist = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"][1]/ul//span')
for i in Artist:
    artist = i.text
    Artist_name.append(artist)
    
last_rank = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"][1]//li[4]')
for i in last_rank:
    last = i.text
    Last_week_rank.append(last)
    
peak_rank = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"][1]//li[5]')
for i in peak_rank:
    peak = i.text
    Peak_rank.append(peak)
    
weeks_board = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"][1]//li[6]')
for i in weeks_board:
    weeks = i.text
    Weeks_on_board.append(weeks)

In [79]:
print(len('Song_name'),len('Artist_name'),len('Last_week_rank'),len('Peak_rank'),len('Weeks_on_board'))

9 11 14 9 14

In [80]:
df = pd.DataFrame()
df['Song_name'] = Song_name[0:100]
df['Artist_name'] = Artist_name[0:100]
df['Last_week_rank'] = Last_week_rank[0:100]
df['Peak_rank'] = Peak_rank[0:100]
df['Weeks_on_board'] = Weeks_on_board[0:100]

In [81]:
df.head()

     Song_name    Artist_name Last_week_rank Peak_rank Weeks_on_board
0   Last Night  Morgan Wallen              1         1             19
1      Flowers              1                                      21
2    Calm Down              1              3         1             40
3     Fast Car             19                                      11
4  All My Life                             5         3              4

In [82]:
driver.close()

# Solution No: 6

In [69]:
driver = webdriver.Chrome('Chromedriver.exe')

In [70]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare')

# The web page is sowing You may have followed an outdated link

In [71]:
driver.close()

# Solution No: 7

In [83]:
driver = webdriver.Chrome('Chromedriver.exe')

In [84]:
driver.get('http://www.imdb.com/list/ls095964455/')

In [85]:
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [86]:
for i in driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"] [1]/a'):
    Name.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"] [1]/span[2]'):
    Year_span.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//span[@class="genre"]'):
    Genre.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//span[@class="runtime"]'):
    Run_time.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"] [1]/span[2]'):
    Ratings.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]//p[4]/span[2]'):
    Votes.append(i.text)

In [87]:
df = pd.DataFrame()
df['Name'] = Name[0:100]
df['Year_span'] = Year_span[0:100]
df['Genre'] = Genre[0:100]
df['Run_time'] = Run_time[0:100]
df['Ratings'] = Ratings[0:100]
df['Votes'] = Votes[0:100]

In [88]:
df.head()

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,170,418"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,248,837"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,030,970"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"303,194"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"262,320"

In [89]:
driver.close()

# Soluteion No:8

In [90]:
driver = webdriver.Chrome('Chromedriver.exe')

In [91]:
driver.get('https://archive.ics.uci.edu/')

In [92]:
view_dataset = driver.find_element(By.XPATH,'//div[@class="flex flex-wrap justify-center gap-5"][1]/a')
view_dataset.click()

In [93]:
URL=[]

In [94]:
url = driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in url:
    page_url = i.get_attribute("href")
    URL.append(page_url)

In [95]:
URL

['https://archive.ics.uci.edu/dataset/53/iris',
 'https://archive.ics.uci.edu/dataset/45/heart+disease',
 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset',
 'https://archive.ics.uci.edu/dataset/2/adult',
 'https://archive.ics.uci.edu/dataset/34/diabetes',
 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik',
 'https://archive.ics.uci.edu/dataset/109/wine',
 'https://archive.ics.uci.edu/dataset/19/car+evaluation',
 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic',
 'https://archive.ics.uci.edu/dataset/73/mushroom']

In [96]:
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []
Year = []

In [99]:
for urls in URL:
    driver.get(urls)
    
    for i in driver.find_elements(By.XPATH,'//h1[@class="text-3xl font-semibold text-primary-content"]'):
        Dataset_name.append(i.text)
        
    for i in driver.find_elements(By.XPATH,'//div[@class="relative flex flex-col gap-4 bg-base-100 p-4 shadow"][1]/div'):
        Data_type.append(i.text)
        
    for i in driver.find_elements(By.XPATH,'//div[@class="col-span-4"][3]/p[1]'):
        Task.append(i.text)
        
    for i in driver.find_elements(By.XPATH,'//div[@class="col-span-4"][4]/p[1]'):
        Attribute_type.append(i.text)
        
    for i in driver.find_elements(By.XPATH,'//div[@class="col-span-4"][5]/p[1]'):
        No_of_instances.append(i.text)
        
    for i in driver.find_elements(By.XPATH,'//div[@class="col-span-4"][6]/p[1]'):
        No_of_attributes.append(i.text)
        
    for i in driver.find_elements(By.XPATH,'//h2[@class="text-primary-content"]'):
        Year.append(i.text)

In [101]:
df = pd.DataFrame()
df['Dataset_name'] = Dataset_name
df['Data_type'] = Data_type
df['Task'] = Task
df['Attribute_type'] = Attribute_type
df['No_of_instances'] = No_of_instances
df['No_of_attributes'] = No_of_attributes
df['Year'] = Year

In [102]:
df.head()

Empty DataFrame
Columns: [Dataset_name, Data_type, Task, Attribute_type, No_of_instances, No_of_attributes, Year]
Index: []

In [155]:
driver.close()

[]

# Solution No: 9

In [105]:
driver = webdriver.Chrome('Chromedriver.exe')

In [106]:
driver.get('https://www.naukri.com/hr-recruiters-consultants')

In [108]:
Name = []
Designation = []
Company = []
Skills_they_hire_for = []
Location = []

In [109]:
name = driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
for i in name:
    names = i.text
    Name.append(names)
    
designation = driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
for i in designation:
    desig = i.text
    Designation.append(desig)
    
company = driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
for i in company:
    com = i.text
    Company.append(com)
    
skill = driver.find_elements(By.XPATH,'//div[@class="hireSec"]')
for i in skill:
    skills = i.text
    Skills_they_hire_for.append(skills)
    
location = driver.find_elements(By.XPATH,'//div[@class="vcard"]//p[1]/span/small')
for i in location:
    loc = i.text
    Location.append(loc)

In [110]:
print(len('Name'),len('Designation'),len('Company'),len('Skills_they_hire_for'),len('Location'))

4 11 7 20 8

In [113]:
df = pd.DataFrame()
df['Name'] = Name[0:5]
df['Designation'] = Designation[0:5]
df['Company'] = Company[0:5]
df['Skills_they_hire_for'] = Skills_they_hire_for[0:5]
df['Location'] = Location[0:5]

In [114]:
df

,Name,Designation,Company,Skills_they_hire_for,Location
0,Santhosh Kumar,Associate Manager Human Resources,Maveric Systems,"It Recruitment, Campus Recruitment, Campus Hir...",Chennai
1,Gauri Bhosle,Human Resources,Chennai,"Operation Executive, Jr. Chemist/ Chemist, Aud...",Mumbai
2,Surendra R,Company Recruiter,TCRC,"Design Engineering, AutoCAD, Solid Works",Hyderabad / Secunderabad
3,Neha Pandey,Company Recruiter,Mumbai,"B.tech, Operations, Business Development, Busi...",Gurgaon
4,Vinita Raut,Company Recruiter,DSR Design & Engineering Solutions,"Bde, Accounting, Education Counseling, Sales, ...",Pune

In [115]:
driver.close()